@if (!loginDisplay) {
<div>
    <H2 class="welcome">Azure Serverless Template using Azure Functions App and Cosmos DB - NoSQL and APIM!</H2>
    <p>
      Make sure you follow instruction<a href="https://github.com/ryanninodizon/AzureServerlessApp-with-auth-for-dotnet-angular/blob/main/README.md" target="_blank"> here</a> 
    </p>
    <p>
      Watch this YouTube video if you want to know how to get the clientId and TenantId<a href="https://youtu.be/QZnX_KXTpfI&t=60s" target="_blank"> here</a> 
    </p>
    <p>
      Feel free to watch this YouTube video if you want to see how I created this test project:<a href="https://youtu.be/D9fWa6KOhHg" target="_blank"> here</a> 
    </p>
    <H2 class="welcome">Enjoy and Happy Coding!</H2>
</div>
}

@if (loginDisplay) {
<div>
    <p>You are authenticated User!</p>
</div>
 <section>
  <article>
    <section class="listing-apply">
      <h2 class="section-heading">Add House</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="hosue-name">House Name</label>
        <input id="house-name" type="text" formControlName="houseName" />
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" />
        <button type="submit" class="primary">Add</button>
      </form>
    </section>
  </article>
  </section>
  <section class="results">
    @for (housingLocation of filteredLocationList; track housingLocation.id) {
        <app-housing-location [housingLocation]="housingLocation"></app-housing-location>
      } @empty {
        Empty list of users
      }
  </section>
}
